@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Charmonman|Roboto');

html, body, span, applet, object,
iframe, h1, h3, h4, h5, blockquote,
pre, abbr, acronym, address, big, cite,
code, del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, center, dl, dt, dd, ol, ul, li,
form, label, legend, caption, tbody,
tfoot, thead, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Roboto", serif;
    vertical-align: baseline;
}

body {
    font: 14px; 
}

a, :active, :hover{
    text-decoration: none;
    color:#273C75;
}

h1{
    font-size: 18px;
    color: #273C75;
}

h2{
    font-size: 12px;
    color: #333;
    padding: 0%;
}

h3 {
    font-size: 12px;
    color: #fff;
    padding: 1%; 
}

h4 {
    font-size: 14px;
    color: #333;
    padding: 0%; 
}

h5{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding: 0%; 
}

h6 {
    font-size: 16px;
    color: #273C75;
}


p{
    padding: 8% 10% 0% 10%;
}

/* Header */
/* Agendamento styles */
#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    border-bottom: solid 5px #fd79a8;
    padding: 6em 0 1em 0;
    position: relative;
}

    #header > * {
        -moz-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-bottom: 0;
    }

    #header .logo {
        border-bottom: 0;
        color: inherit;
        font-family: "Roboto Slab", serif;
        font-size: 1.125em;
        text-decoration: none;
        padding-left: 8rem;
    }

    #header .icons {
        text-align: right;
    }

    @media screen and (max-width: 1680px) {

        #header {
            padding-top: 5em;
        }

    }

    @media screen and (max-width: 990px) {

        #header {
            padding-top: 6.5em;
        }

        #header .logo {
            font-size: 1.25em;
            margin: 0;
            padding: 0% 0% 10% 30%; 
        }

        #header .icons {
            height: 5em;
            line-height: 5em;
            position: absolute;
            right: -0.5em;
        }

        .entre-na-conta{
            top: 80%;
            left: -18%;
            position: absolute;
        }

        .linha-vertical{
            border: none !important;
        }
        .resize{
            width: 307px; 
            height: 126px;
            top: 17%;
            left: 8%;
            position: absolute;
        }

    }

    .busca-section{
        padding: 10% 0% 0% 20%;
    }

    .input-search {
        padding: 2rem 0rem 0rem 10rem;
    }

    .entre-na-conta{
        padding: 0% 0% 0% 40%;
    }

/*Menu estilos*/
.bg-dark .navbar-dark .navbar .nav{ 
    background-color: #273C75 !important;
    color: white;
}

.show-links-no-menu {
    color: white;
}

.secao-logo-naf{
    background-color: #ECECEC;
    height: 250px;
    margin-top: 0.5%;
}

.secao-logo-naf-outras-paginas{
    background-color: #ECECEC;
    height: 160px;
    margin-top: 0.5%;
    padding: 2% 0% 2% 6%;
}

.alinhamento-naf-text {
    padding: 5% 0% 2% 6%;
}
.secao-porondecomecar{
    background-color: #fff;
    padding: 5% 0% 1% 7%;
}

.grid-escolhas{
    padding: 1% 0% 1% 3%;
    margin: 1% 1% 1% 1%;
}

.borda{
    border: #E0E0E9 solid 1px;
}
.rodape{
    background-color: #ECECEC;
    height: 70px;
    padding: 2% 25% 2% 25%;
}

.linha-horizontal-banner{
    margin-top: 3px; 
    border-top: 2px solid #E9E9EF;
}

.linha-horizontal-rodape{
    margin: 100px 0px 3px 0px; 
    border-top: 2px solid #E9E9EF;
}

.servicos-grid-escolhas {
    font-size: 40px;
    border: #ECECEC solid 2px;
    padding: 10% 50% 10% 50%;
}

.coluna-nao-tem-conta {
    padding: 5% 0% 1% 7%;
}

.coluna-email-senha,  .col-md-8, .col-md-4 {
    padding: 5% 0% 1% 0%;
}

.alinhamento-esqueceu-senha-text{
    padding: 5% 0% 1% 15%;
}

input[type=submit] {
    background-color: #57B847;
}

.btn-success{
    background-color: #57B847 !important;
    border: none;
    border-radius: 0%;
}
.btn-info{
    background-color: #273C75 !important;
    border: none;
    border-radius: 2%;
}

.coluna-escolhas {
    margin: 1%;
}
    /* Pagina de login styles */

    .text-center{
        padding: 0% 0% 0% 30%;
    }

    .login-center{
        padding: 1% 0% 0% 25%;
        width: 50%;
    }

    .botao-entrar{
        padding: 1% 0% 0% 25%;
    }

    .esqueceu-senha{
        padding: 1% 0% 0% 25%;
        
    }
 
    .main-agendamento {
        padding: 10% 0% 0% 28%;
    }

    #pesquisa-servicos {
        width: 60%;
    }

    .cadastre-se {
        padding: 1% 0% 0% 25%;
    }

    * {
  box-sizing: border-box;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.linha-vertical {
    height: 55px;/*Altura da linha*/
    border-left: 2px solid #2E4789;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
}

.linha-vertical-logar {
    margin: 0% 20% 0% -1.5%;
    position: absolute;
}

    /* Painel */



    .seus-agendamentos{
        background-color:#2d3436;
        margin: 2% 0% 0% 10%;
    }

    .mostrar-agendamentos {
        background-color:#f1f2f6;
        margin: 0% 0% 0% 10%;
    }

    .fazer-um-novo-agendamento{
        padding: 7% 0% 0% 10%;
    }

    /* Serviços */

    .lista-servicos {
        padding: 2% 0% 0% 12%;
    }

    .resultado-busca{
        padding: 3% 0% 0% 10%;
    }

    /*Página admimistrador 
    - MENU*/
    .menu-pa-gerenciar-cadastros{
        padding: 1rem 0rem 0rem 8rem;
    }
    .menu-pa-resumo{
        padding: 0.7rem 0rem 0rem 17rem;
    }
    .menu-pa-brand-naf{
        padding: 0rem 0rem 0rem 7rem;
    }
    .menu-pa-text-painel-administrador{
        padding: 1rem 0rem 0rem 0rem;
    }

    .imagem-menu{
        display: block;
        margin: 0.3rem 0rem 0rem 0rem;
        width: 26px; 
        height: 20px;
    }
    
    /*-RESUMO*/
    .blocos-admin-principal {
        margin: 3rem;
        padding: 1.5rem 0rem 0rem 0rem;
    }
    .alinha-dados-blocos {
        padding: 0.8rem 0rem 1rem 4rem;
    }
    .txt-horario-align{
        padding: 0.4rem 0rem 0rem 1rem;
    }
    .txt-atalho-novo-listar-todos{
        margin: 0rem;
        padding: 0.4rem;

    }
    .txt-titulos{
        padding-left: 3rem;
    }
    .secao{
        padding-bottom: 8.2rem;
    }

    /*-admin-gerenciar-cadastros.php*/
    .titulo-gerenciar-cadastros{
        padding: 3rem;
    }
    .col-gerenciar-cadastros{
        margin: 1rem 0rem 2rem 4rem;
        padding: 0rem;
    }
    .bloco-gerenciar-cadastros{
        margin: 0rem;
        padding: 2rem 0rem 2rem 5.7rem;
    }
    .gerenciar-cadastros-2bloco{
        margin: 0rem;
        padding: 0.3rem 0rem 0.3rem 1.2rem;
    }
    .gerenciar-cadastros-2bloco-horario{
        margin: 0rem;
        padding: 0.3rem 0rem 0.3rem 2.5rem;
    }
    .imagem-bloco{
        display: block;
        margin: 0.3rem 0rem 0rem 0rem;
        width: 30px; 
        height: 30px;
    }

    /*admin-listar-servicos.php*/
    .listar-servicos-titulo{
        padding: 1rem 0rem 3rem 30rem;
    }
    .listar-horarios-titulo{
        padding: 1rem 0rem 0rem 30rem;
    }
    .listar-horarios-titulo-data{
        padding: 1rem 0rem 3rem 37rem;
    }
    .borda-listas{
        border-bottom: #D5D5E1 solid 1px;
        margin: 1rem 0rem 2rem 22rem;
    }

    /*admin-cadastrar-servico-view.php*/
    .titulo-cadastrar-servico{
        padding: 4rem 0rem 0rem 22rem;
    }
    .alinhamento-cadastrar-servico{
        padding: 2rem 0rem 11rem 25rem;
    }
    .espacamento-formulario{
        margin-bottom: 1rem;
    }
    /*admin-cadastrar-horario-view.php*/
    .titulo-cadastrar-horario{
        padding: 4rem 0rem 0rem 22rem;
    }
    .alinhamento-cadastrar-horario{
        padding: 2rem 0rem 0.7rem 25rem;
    }
    /*admin-cadastrar-dia-view.php*/
    .titulo-cadastrar-dia{
        padding: 4rem 0rem 0rem 22rem;
    }
    .alinhamento-cadastrar-dia{
        padding: 2rem 0rem 5.5rem 25rem;
    }

    .alinhamento-cadastrar-dia-text-redirect{
        padding: 2rem 0rem 0.7rem 25rem;
    }

    .alinhamento-listar-escolher-dia{
        padding: 2rem 0rem 13.8rem 31rem;
    }

    /*cadastre-se-view.php*/
    .alinhamento-cadastrar-cliente{
        padding: 2rem 0rem 5rem 27rem;
    }
    .alinha-botoes{
        padding: 0rem 0rem 0rem 0rem;
        margin: 0rem;
    }

    .borda-red{
        border: red solid 2px;
    }

    /*recuperar_senha*/
    .alinhamento-recuperar-senha{
        padding: 2rem 0rem 12.4rem 27rem;
    }

    /*usuario_logado*/
    .icon-user{
        color: white;
        padding: 0.6rem 0rem 0rem 2rem;
    }
    .nome-usuario-logado{
        padding: 0;
        margin: 0;
    }

    .icon-logout{
        color: white;
        padding: 0.6rem 0rem 0rem 0.5rem;
    }

    .text-logout{
        padding: 0.1rem 0rem 0rem 14rem;
    }

    /*Painel.php*/
    .blocos-painel{
        margin: 3rem;
        padding: 1.5rem 0rem 0rem 0rem;
    }

    .secao-painel{
        padding-bottom: 8.2rem;
        padding-left: 7rem;
    }

    .txt-titulos-painel{
        padding-left: 3rem;
        padding-bottom: 2rem;
    }
    .espacamento-icons-painel{
        padding-left: 1rem;
    }
    .txt-painel-fazer-novo-agendamento{
        margin: 3rem 0rem 0rem 0rem;
        padding: 0.4rem;
    }

    /*escolha-servico.php*/
    .txt-escolher-servico{
        margin: 0rem 0rem 3rem 0rem;
        padding: 0rem;
    }

    .blocos-ecolha-servico{
        margin: 3rem;
        padding: 0rem 0rem 7rem 0rem;
    }
    .left-border{
        border-left: #E0E0E9 solid 1px;
    }
    .right-border{
        border-right: #E0E0E9 solid 1px;
    }
    .bottom-border{
        border-bottom: #E0E0E9 solid 1px;
    }
    .alinhamento-info{
        margin: 0rem;
        padding: 1rem 2rem;
    }
    .info-active{
        background-color: #99FF00;
    }
    .select-escolher-servico{
        margin: 5rem 0rem 0rem 27rem;
        padding: 0rem;
    }
    .select-escolher-horario{
        margin: 2rem 15rem 0rem 27rem;
        padding: 0rem;
    }
    .botao-escolher-servico{
        margin: 1rem 0rem 0rem 22.5rem;
        padding-left: 4.6rem;
    }
    .secao-escolha-servico{
        margin: 0rem;
        padding: 0rem;
    }

    /*cadastrar_agendamento*/
    .txt-confirmacao-agendamento{
        padding: 0rem 0rem 0rem 30rem;
    }
    .txt-informacao-agendamento{
        margin: 0rem 13rem 0rem 15rem;
        padding: 1rem;
    }
    .secao-cadastro-agendamento{
        margin: 0rem 0rem 7.5rem 0rem;
        padding: 0rem;
    }

    /*reagendamento serviço*/
    .alinhamento-reagendar-servico{
        margin: 0rem;
        padding: 2rem 0rem 11rem 23rem;
    }
    .botao-reagendar{
        padding-top: 2rem;
        margin: 2rem;
    }
    .alinhamento-reagendamento{
    }